# @scope=https://hostname/artifactory/api/npm/npm-virtual/
# //hostname/artifactory/api/npm/npm-virtual/:_password=<BASE64_PASSWORD>
# //hostname/artifactory/api/npm/npm-virtual/:username=<USERNAME>
# //hostname/artifactory/api/npm/npm-virtual/:email=<EMAIL>
# //hostname/artifactory/api/npm/npm-virtual/:always-auth=true
# registry=https://hostname/artifactory/api/npm/npm-virtual/